[user]
  email = <michael.vandiemen@wearewuunder.com>
  name = Michaël van Diemen
[core]
  editor = nvim
	excludesfile = /home/michael/.gitignore_global
[push]
  default = current
  autoSetupRemote = true
[pager]
  diff = false
[url "git@github.com:"]
  insteadOf = https://github.com/
[pull]
  rebase = true
[commit]
	gpgsign = false
[gpg]
	program = /usr/bin/gpg2
