[user]
  email = michael@feedbackfruits.com
  name  = Michaël van Diemen
[core]
  editor = nvim
	excludesfile = /home/michael/.gitignore_global
[push]
  default = current
[pager]
  diff = false
[url "git@github.com:"]
  insteadOf = https://github.com/
[pull]
  rebase = true
