@import "macchiato.css";

* {
  font-family: "JetBrainsMono Nerd Font", Roboto, Helvetica, Arial, sans-serif;
  font-size: 16px;
}

window#waybar {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 13px;
  transition-property: background-color;
  transition-duration: .5s;
}

button {
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -3px transparent;
  /* Avoid rounded borders under each button name */
  border: none;
  border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
  background: inherit;
  box-shadow: inset 0 -3px #ffffff;
}

/* you can set a style on hover for any module like this */
#pulseaudio:hover {
  background-color: @surface2;
}

#workspaces button {
  padding: 0 5px;
  padding-top: 4px;
  background-color: transparent;
  color: #ffffff;
}

#workspaces button:hover {
  background: rgba(0, 0, 0, 0.2);
}

#workspaces button.active,
#workspaces button.focused {
  color: @lavender;
  background: rgba(183, 189, 248, 0.05);
  box-shadow: inset 0 -1px @lavender;
}

#workspaces button.urgent {
  color: @red;
  background: rgba(237, 135, 150, 0.1);
  box-shadow: inset 0 -1px @red;
}

#tray {
  margin-right: 4px;
}

#mode {
  color: @yellow;
  margin-left: 4px;
  box-shadow: inset 0 -2px @yellow;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#network,
#pulseaudio {
  padding: 0 10px;
}

#pulseaudio {
  color: @maroon;
  padding-top: 4px;
}

#network {
  color: @yellow;
}

#temperature {
  color: @sky;
}

#battery {
  color: @green;
}

#clock {
  color: @flamingo;
  padding-top: 4px;
}

#window {
  color: @text;
  padding-top: 4px;
}

.modules-right,
.modules-left,
.modules-center {
  /* @base color with rgba */
  background-color: rgba(36, 39, 58, 0.8);
  border-radius: 15px;
}

.modules-right {
  padding: 0 10px;
}

.modules-left {
  padding: 0 20px;
}

.modules-center {
  padding: 0 10px;
}

#battery.charging,
#battery.plugged {
  color: @sapphire;
}

@keyframes blink {
  to {
    color: #000000;
  }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
  background-color: #f53c3c;
  color: #ffffff;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

label:focus {
  background-color: #000000;
}

#custom-spotify {
	margin-left: 8px;
	padding-left: 10px;
  padding-right: 10px;
  transition: background 0.3s ease-in-out, border-radius 0.3s ease-in-out;
  color: @lavender;
}	

#custom-spotify:hover {
  background-color: @surface2;
}

#custom-power {
  color: @red;
  margin-left: 4px;
  margin-right: 4px;
}

#custom-power:hover {
  color: @yellow;
}

#custom-screenshot {
  color: @yellow;
  margin-left: 4px;
  margin-right: 4px;
}

#pulseaudio.muted {
  color: @text;
}
